@media only screen and (max-width: 1100px) {
   nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   }

   .hero{
        padding: 20px;
   }

   .hero_image{
        display: none;
    }

    .logo_s{
        flex-wrap: wrap;
    }

    .services_message{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .services_heading{
        text-align: center;
    }
    .services_para{
        text-align: center;
    }
}

@media only screen and (max-width: 650px) {
    nav ul , .nav_btn {
        display: none;
    }

    .hero{
        padding: 20px;
    }

    .hero_image{
        display: none;
    }

    .logo_s{
        flex-direction: column;
    }
}

