@media only screen and (max-width: 1100px) {
   nav{
     flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
   }
}
@media only screen and (max-width: 650px) {
    nav ul , .nav_btn {
        display: none;
    }
}
