@media only screen and (max-width: 1100px) {
   nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   }

   .hero{
        padding: 20px;
   }

   .hero_image{
        display: none;
    }

    .logo_s{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 650px) {
    nav ul , .nav_btn {
        display: none;
    }

    .hero{
        padding: 20px;
    }

    .hero_image{
        display: none;
    }

    .logo_s{
        flex-direction: column;
    }
}

