*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Montserrat", sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

nav .logo{
    display: flex;
    gap: 10px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
    transition: 1.2s ;
}

nav ul :hover{
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav ul li a:hover{
    color: gray;
}

.nav_btn{
    padding: 20px 35px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
    transition: 1.2s ;
}

.nav_btn:hover{
    background-color: black;
    color: white;
}


.hero {
    display: flex;
    /* flex-direction: column; */
    /* gap: 20px; */
    padding: 50px;
}

.hero_content {

    justify-content: center;
}

.content_heading {
    font-size: 60px;
    font-weight: 500;
    padding: 20px;
}

.content_para {
    font-size: 25px;
    padding: 20px;
    line-height: 28px;
}

.content_btn{
    padding: 20px ;
    margin: 20px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 20px;
    background-color: black;
    color: white;
    transition: 1.2s ;
}

.content_btn:hover{
    background-color: white;
    color: black;
}

.logo_s{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

